
._yonghu,.yonghu{
    width: 103px;
}
.chengshi,._chengshi{
    width: 105px;
}
._qianming,.qianming{
    width: 108px;
}
._zhiye,.zhiye{
    width: 102px;
}
.pingfen,._pingfen{
    width: 111px;
}
.data,._data{
    width: 150px;
}
.caozuo,._caozuo{
    width: 111px;
}